%header チャットグループが作成されました。
.contents
  .leftContainer
    .leftHeader
      %p.yourself.personal アリストテレス
      %a.fa.fa-edit.personal{href:"#"}
      %a.fa.fa-cog.personal{href:"#"}
    .groups
      .group
        %p.group__name sampleグループ
        %p.group__status byebye
      .group
        %p.group__name 哲学部
        %p.group__status まだメッセージはありません。
      .group
        %p.group__name 武藤ゼミ
        %p.group__status まだメッセージはありません。
  .rightContainer
    .rightHeader
      .joinGroup
        %p.joinGroup__current sampleグループ
        %p.joinGroup__members Member : アリストテレス, ソクラテス, プラトン
        %input{type: "submit", value: "Edit", class: "joinGroup__edit-button"}
    .messages
      .message
        %p.message__name アリストテレス
        %p.message__time 2018/10/20 20:33:54
        %p.message__text なぜ時間がかかるのか。
      .message
        %p.message__name ソクラテス
        %p.message__time 2018/10/20 20:35:08
        %p.message__text 分かりかねる。
      .message
        %p.message__name プラトン
        %p.message__time 2018/10/20 20:58:23
        %p.message__text byebye
    .posts
      %form
        %input{type: "text", class: "posts__text-field", placeholder: "Type a message"}
        %label{class: "posts__upload-label", for: "upload-icon"}
          %i.fa.fa-picture-o
          %input{type: "file", class: "hidden", id: "upload-icon"}
        %input{type: "submit", value: "Send", class: "posts__submit-button"}